body {
    background-color: rgba(255, 255, 255, 0.856);
    font-family:'Open Sans', sans-serif;
     
    
}
 
.coluna1 {
    width: 30%;
    display: inline-block;
    text-align: center;
}

.avatar {
    border-radius: 50%;
    padding: 16px;
    background-color:  rgba(71, 172, 62, 0.815);
}


.coluna2 {
    width: 70%;
    display: inline-block;
    float: right;
    text-align: justify;
}

.text-green {
    color:rgb(27, 85, 22);
}

nav ul {
    padding-left: 0px;
    text-align: center;
    margin-bottom: 40px;
}

nav ul li {

    padding-left: 0px;
    list-style-type:none; 
    /* display: inline-block; */
    
      
}

#habilidades ul li {
    padding-left: 0px;
    list-style-type:disc ; 

}


.nome  {
      
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 16px;
    color: rgba(0, 0, 0, 0.856);
    text-align: center;

}                  

a {
    color:rgb(49, 42, 4);
    font-weight: 900;
    
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}   
